{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% include "include/IncludeHead.html" %}

<body class="bg-cyan-100/50">
    
    {% include "include/Landing/HeroBanner.html" %}

    <script>
        const timeTable = document.querySelector('.AttendanceModel');
        const btn = document.getElementById('openTimeTable');
        const navactive = document.getElementById('NavActive')

        btn.addEventListener('click', () => {
            timeTable.classList.add('AttendanceModel_on');
            timeTable.classList.remove('AttendanceModel');
            navactive.classList.add ('OpacityChange')
        });

        const settingopenBTN = document.getElementById('Setting_Open')
        const settingpage =document.querySelector ('.SettingPage')
        
        settingopenBTN.addEventListener('click', () => {
            settingpage.classList.add('AttendanceModel_on');
            settingpage.classList.remove('AttendanceModel');
            navactive.classList.add ('OpacityChange')
        });

        const openfillAttendance = document.getElementById('openFillAttendance')
        const fillAttendanceModel = document.querySelector('.FillAttendanceModel')

        openfillAttendance.addEventListener('click', () => {
            fillAttendanceModel.classList.remove ('AttendanceModel')
            fillAttendanceModel.classList.add ('AttendanceModel_on')
            navactive.classList.add ('OpacityChange')
        });
    </script>
</body>
</html>