{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% include "include/IncludeHead.html" %}

<body class="bg-cyan-100/50">
    
    {% include "include/Landing/HeroBanner.html" %}

    <script>
        const timeTable = document.querySelector('.AttendanceModel');
        const btn = document.getElementById('openTimeTable');

        btn.addEventListener('click', () => {
            timeTable.classList.add('AttendanceModel_on');
            timeTable.classList.remove('AttendanceModel')
        });
    </script>
</body>
</html>