.bree_serif_regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.fjalla_one_regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}